/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
}

/* Container Styling */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(234, 248, 242);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}


/* Tree Seedlings Section */
.tree-seedlings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tree-seedlings img:first-of-type {
    width: 25%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Card Styling */
.card {
    background-color: #12f779;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 calc(33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card img {
    max-width: 100%;/*Ensure the images are circular*/
    height: auto;/*Ensure the image sare circular*/
    border-radius: 50px;/*Make the images circular*/
    margin-bottom: 10px;/*Add circular border*/
    object-fit: cover;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    margin-bottom: 10px;
}

/* Buttons Styling */
button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: rgb(245, 10, 155);
    cursor: pointer;
}

button:hover {
    background-color: #f81071;
}

/* Input Field Styling */
input[type="text"] {
    width: calc(100% - 220px);
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .tree-seedlings {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 500px;
        margin: 10px 0;
    }

    input[type="text"] {
        width: calc(100% - 40px);
    }
}s